*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaCurveInterpolation/target/
/GraphicsEngine/GraphicsEngine-Rendering/target/
/GraphicsEngine/GraphicsEngine-Factories/target/
/GraphicsEngine/GraphicsEngine-OpenGLRunner/target/
/GraphicsEngine/GraphicsEngine-Starter/target/
/GraphicsEngine/GraphicsEngine-Starter/logs/

# IDEA files
*.idea/
*.iml